@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@1,500&display=swap');
*{
    font-family: 'Playfair Display', serif;
}

body{
margin: 0 0 0 0;
}

.container{
    display: flex;
    background-color:#AAAAAA ;
    flex-direction: row;
    align-content: right;
    margin: 0% 0% 0% 0%;
    height: 90px;
    justify-content:space-between;
    align-items: center;
    
}

.button {
    color: #ecf0f1;
    font-size: 25px;
    background-color: #6eccd6;
    border: 1px solid #A4EBF3;
    border-radius: 5px;
    padding: 10px 24px 10px 24px;
    box-shadow: 0px 6px 0px #A4EBF3;
    transition: all .1s;
    margin-right:30px;
    text-decoration:none;
    
}
   
.button:active {
    background-color: #AAAAAA;
    box-shadow: 0px 2px 0px #8dcc74;
    position: relative;
    top: 2px;
}

.web-name{
    font-size:x-large;
    font-weight: 900;
    color: #2966d8;
}   
.body-continer{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
   
    align-items: center;

    /* background-color:#800c0c; */
    height: 80%;
    margin: 0 0 0 0;
}
.igalary{
    
    width:450px;
    display: flex;
    justify-content:space-around;
    flex-direction: column;
    align-items: center;
    padding-top: 30px;
    border-radius: 17px;
    background: #6eccd6;
    box-shadow:  5px 5px 10px #2c5256,
                 -5px -5px 10px #b0ffff;
    margin: 50px 10px 100px 10px;     
    padding-bottom: 30px;        

}
.text-img{
    text-align: center;
    margin-top: 0%;
    color: aliceblue;
    margin-top: 10px;
    margin-bottom: 10px;
}
.gal-img{
    border-radius: 17px;
    
}
.cont-header{
    font-size:xx-large;
    font-weight: 900;
    color: #02b3c7;
    text-align: center;
    margin-top: 5px;
}
.button-container{
    display: flex;  
    width:80%;
    justify-content: space-evenly;
    padding: 16px 24px 16px 24px;
}